{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-5 pt-5  col-md-12">
                <div id="content" class="content content-full-width">
                    <div class="profile ">
                        <div class="profile-header">
                            <div class="profile-header-cover"></div>
                            <div class="profile-header-content">
                                <div class="profile-header-img">
                                    {% if user.profilePicture %}
                                        <img src="{{ user.profilePicture.url }}" alt="Profile Picture">
                                    {% endif %}
                                </div>
                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">{{ user.username }}</h4>
                                    <p class="m-b-10">Name: {{ user.first_name }}</p>
                                    <p class="m-b-10">Age: {{ user.age }}</p>
                                    <p class="m-b-10">Email: {{ user.email }}</p>
                                    <a href="#" class="btn btn-sm btn-danger mb-2">Edit Profile</a>
                                </div>
                            </div>
                            <ul class="profile-header-tab nav nav-tabs">
                            </ul>
                        </div>


                   <!-- Topics Section -->
                   <div class="shadow p-3 mb-3 mt-3 bg-white rounded border-danger border-3 border border-bottom-0 border-top-0 border-end-0">
                    <h3 class="custom-color-red fw-bold border-1 border-bottom pb-3">Topics You're Following</h3>
                    <div class="row mt-3 pt-1">
                        <div class="">
                            {% for topic in topics %}
                                <span class="btn-outline-danger btn btn-sm p-2 fw-bold bold m-1 rounded-1">{{ topic.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>

            <!-- Question Section -->
            <div class="question-section shadow p-4 mb-3 bg-white rounded border-danger border-3 border border-bottom-0 border-top-0 border-end-0">
                <h3 class="custom-color-red fw-bold">Your Questions</h3>

                {% for question in questions %}
                <div class="question mb-4 pt-5 border-top border-1 ">
                    <h4 class="fw-bold">{{ question.title }}</h4>
                    <p class="mb-2">{{ question.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-danger btn-sm">Answer this question</a>
                        <div class="likes d-flex align-items-center">
                            <span class="like-count"> 10 </span>
                            <a href="#" class="like-btn mx-2 mr-2"><i class="fas fa-thumbs-up"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
        

        <!-- Answer Section -->
        <div class="answer-section shadow p-4 mb-3 bg-white rounded border-danger border-3 border border-bottom-0 border-top-0 border-end-0">
            <h3 class="custom-color-red fw-bold">Your Answers</h3>

            {% for answer in answers %}
            <div class="answer mb-4 border-top border-1 pt-5">
                <p class="mb-2 fw-bold">{{ answer.description }}</p>
            
                <!-- Related Questions -->
                <span class="btn-outline-danger btn btn-sm p-2 fw-bold bold rounded-1"> Q: {{ answer.question.title }}</span>
            </div> 

            {% endfor %}


        </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}


