{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p> Welcome to the home page!</p>

    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>

        {% if user.profilePicture %}
            <img src="{{ user.profilePicture.url }}" alt="Profile Picture" width="200" height="200">
        {% endif %}

        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock %}
